{% extends 'core/base.html' %}

{% block title %}Contactame - Roberth Diaz{% endblock %} 

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Consultoría</span>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Formulario de Contacto (En construccion)</p>
        <br>
        <p><b>Teléfono:</b> +54 11 5555 5656</p>
        <p><b>Mail:</b> roberthdi.ar@gmail.com</p>
      </div>
    </div>
  </div>
{% endblock %}